.Profile{
    position: relative;
    display: grid;
    grid-template-columns: 25rem 60rem ; 
    gap: 4rem;
}

.Profile-left{ 
    margin-left: 2rem;
}

.Profile-right{
    display: flex;
    flex-direction: column; 
    margin-top: 2.5rem;
    gap:1rem;
}
 